{% extends 'base.html.twig' %}

{% block title %}
	{{ series is defined ? 'Editar' : 'Nova' }}
	Série
{% endblock %}

{% block body %}
	{{ form_start(seriesForm) }}
  {{ form_row(seriesForm.seriesName) }}
  {{ form_row(seriesForm.seasonsQuantity) }}
  {{ form_row(seriesForm.episodesPerSeason) }}
  {{ form_row(seriesForm.coverImage) }}
  {{ form_widget(seriesForm.save, { 'attr': { 'class': 'btn-dark' } }) }}
  {{ form_end(seriesForm) }}

  {# {{ form_start(seriesForm) }}
  <div>
  	{{ form_errors(seriesForm) }}
  </div>
	<div class="row">
    <div class="col-3">
  	  {{ form_label(seriesForm.name, 'Nome da série') }}
    </div>
    <div class="col-9">
  	  {{ form_widget(seriesForm.name, { 'attr': { 'class': 'classe_teste' } }) }}
    </div>
    <div class="col-12">
      {{ form_errors(seriesForm.name) }}
    </div>
  </div>
  {{ form_end(seriesForm) }} #}

	{# {{ form(seriesForm) }} #}

  {# <form action="{{ series is defined ? path('app_store_series_changes', { series: series.id }) : path('app_add_series') }}" method="post">
	    <div class="mb-3">
	      <label for="name" class="form-label">Nome da série:</label>
	      <input
	        type="text"
	        name="name"
	        id="name"
	        class="form-control"
	        value="{{ series is defined ? series.name : '' }}"
	      >
	    </div>
	
	    {% if series is defined %}
	      <input type="hidden" name="_method" value="PATCH">
	    {% endif %}
	    
	    <button type="submit" class="btn btn-dark">
	      {{ series is defined ? 'Editar' : 'Adicionar' }}
	    </button>
	  </form> #}
{% endblock %}
